	<div class="row" style="margin-top: -10px;">
		<div class="col-md-12" style="color:white;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;background: radial-gradient(circle farthest-corner at 10px 10px, #ae21ff, #6121ff);">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 70px;">
					Привет, я Алиса!
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right" style="flex-direction: column;">
					<a href="https://mjdm.ru/forum/viewtopic.php?f=5&t=7359" target="_blank" style="margin-right: 5px;border-right: 1px solid white;padding-right: 5px;color: white;text-decoration: none;"><i class="glyphicon glyphicon-fire"></i> Баги и обсуждение</a>
					[#if COOKIE_FILE == 1#]
						[#if VIEW_MODE="search_yastations" || VIEW_MODE="" || VIEW_MODE="search_yadevices"#]
							<a href="?mode=refresh&tab=<#TAB#>&view_mode=<#VIEW_MODE#>" style="margin-right: 5px;border-right: 1px solid white;padding-right: 5px;color: white;text-decoration: none;"><i class="glyphicon glyphicon-refresh"></i> Обновить</a>
						[#endif#]
						<a href="javascript://" onclick="$('#settings_block').toggle();" style="margin-right: 5px;border-right: 1px solid white;padding-right: 5px;color: white;text-decoration: none;"><i class="glyphicon glyphicon-cog"></i> Настройки</a>
					[#endif#]
					<a href="?view_mode=auth" style="text-decoration:none;color:white;"><i class="glyphicon glyphicon-lock"></i> Авторизация</a>
					|
					<a href="?view_mode=logout" style="text-decoration:none;color:white;"><i class="glyphicon glyphicon-log-out"></i> Выход</a>
				</div>
			</div>
		</div>
		<a href="?">
			<img style="top: 0px;width: 60px;position: absolute;left: 10px;margin-top: -10px;border: 4px solid white;border-radius: 100px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Alisa_Yandex.svg/1200px-Alisa_Yandex.svg.png">
		</a>
	</div>

	[#if AUTHORIZED !== 1#]
        [#if VIEW_MODE="search_yastations" || VIEW_MODE=""#]

	<h2 class="text-danger">Авторизация</h2>
	<p>Авторизация отсутствует! Необходимо заново <a href="?view_mode=auth">пройти авторизацию</a>.</p>

        [#endif VIEW_MODE#]
    [#endif#]

		[#inc settings_page.html#]
		
		<div style="margin-bottom: 10px;"></div>

<div class="row" style="margin-right: -15px;margin-left: -15px;">
	<div class="col-md-4 text-center" onclick="location.href='?md=yadevices&inst=&action=yadevices&view_mode='" style="cursor:pointer;padding-bottom: 5px;">
		<div  class="ya_nav[#if VIEW_MODE="search_yastations" || VIEW_MODE="edit_yastations" || VIEW_MODE=""#]_selected[#endif#]">
			<img style="background: white;border-radius: 50px;padding: 5px;margin-right: 5px;" src="<#ROOTHTML#>templates/yadevices/img/station.svg">
			Управление станциями
		</div>
	</div>
	<div class="col-md-4 text-center" onclick="location.href='?md=yadevices&inst=&action=yadevices&view_mode=search_scenarios'" style="cursor:pointer;padding-bottom: 5px;">
		<div class="ya_nav[#if VIEW_MODE="search_scenarios"#]_selected[#endif#]">
			<img style="background: white;border-radius: 50px;padding: 5px;margin-right: 5px;" src="<#ROOTHTML#>templates/yadevices/img/scenario.svg">
			Управление сценариями
		</div>
	</div>
	<div class="col-md-4 text-center" onclick="location.href='?md=yadevices&inst=&action=yadevices&view_mode=search_yadevices'" style="cursor:pointer;padding-bottom: 5px;">
		<div class="ya_nav[#if VIEW_MODE="search_yadevices" || VIEW_MODE="edit_yadevices"#]_selected[#endif#]">
			<img style="background: white;border-radius: 50px;padding: 5px;margin-right: 5px;" src="<#ROOTHTML#>templates/yadevices/img/device.svg">
			Управление устройствами
		</div>
	</div>
</div>
<div>&nbsp;</div>

[#if VIEW_MODE="auth"#]
[#inc auth.html#]
[#endif#]


		[#if VIEW_MODE="search_yastations" || VIEW_MODE=""#]
			[#inc yastations_search_admin.html#]
		[#endif VIEW_MODE#]

		[#if VIEW_MODE="search_yadevices"#]
			[#inc yadevices_search_admin.html#]
		[#endif VIEW_MODE#]
		
		[#if VIEW_MODE="search_scenarios"#]
			[#inc yascenarios_search.html#]
		[#endif VIEW_MODE#]

		[#if VIEW_MODE="edit_yastations"#]
			[#inc yastations_edit.html#]
		[#endif VIEW_MODE#]

		[#if VIEW_MODE="edit_yadevices"#]
			[#inc yadevices_edit.html#]
		[#endif VIEW_MODE#]

		[#if VIEW_MODE="view_yastations"#]
		   [#inc yastations_view.html#]
		[#endif VIEW_MODE#]


