<div class="row" style="margin-right: -15px;margin-left: -15px;">
	<div class="col-md-12">
		<!---<div class="hidden-xs" style="display: flex;margin-top: -50px;margin-left: -30px;background: url(https://avatars.mds.yandex.net/get-lpc/1527204/b4791c94-a284-4c4d-a2db-15339f8b1c07/orig);width: 100%;height: 400px;position: absolute;background-repeat: no-repeat;"></div>-->
		<div class="jumbotron" style="text-align: right;min-height: 350px;margin-bottom: 10px;padding: 10px 0px;border-radius: 5px;background: url(https://avatars.mds.yandex.net/get-lpc/1527204/b4791c94-a284-4c4d-a2db-15339f8b1c07/orig) no-repeat, radial-gradient(circle farthest-corner at 10px 10px, #582fff, #7309e7)">
			<div class="col-md-8 col-md-offset-4">
			<h2 style="color: white;font-weight: bold;">Привет, Алиса!</h2>
			<p style="font-size: 11pt;color: white;">Привет! Это новый модуль Яндекс.Устройств. Мы изменили дизайн и внесли несколько исправлений в работу модуля!
				Укажи свой логин и пароль от аккаунта Яндекс и работа модуля будет восстановлена!
				<hr>
				[#if AUTH_ERROR!=''#]<div class="alert alert-danger" style="font-size: 1.4rem;padding: 5px;text-align: center;line-height: 20px;">[#AUTH_ERROR#]</div>[#endif#]
				
				<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" style="background: white;padding: 10px;border-radius: 5px;">
					<div class="row">
						<div class="col-sm-2" style="font-size: 1.6rem;padding: 0px;">
							Логин
						</div>
						<div class="col-sm-10">
							<input type="text" name="api_username" value="" class="form-control">
						</div>
					</div>
					<div class="row" style="margin-top:5px;">
						<div class="col-sm-2" style="font-size: 1.6rem;padding: 0px;">
							Пароль
						</div>
						<div class="col-sm-10">
							<input type="password" name="api_password" value="" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-success">Войти</button>
							<input type="hidden" name="view_mode" value="update_settings">
							<input type="hidden" name="mode" value="update">
						</div>
					</div>
				</form>
			</p>
			</div>
		</div>
	</div>
</div>