[#if FULL_NAME=='[Резервный способ входа]'#]
<div class="alert alert-warning" style="margin-top: 20px;text-align: center;">
	Что-то не так с вашим логином или паролем, модуль будет использовать резервный способ получения данных. Возможно, вы ввели неверный логин или пароль.
	<br><br>
	<span style="color: red;">Пока непонятно, что произошло, после загрузки Cookie файла модуль попробует авторизоваться снова и если все пройдет успешно,
	вместо <b>Привет, [Резервный способ входа]</b> будет ваше имя и фамилия.
	</span>
</div>
[#endif#]
<div class="jumbotron" style="border: 1px solid #6f0dea;border-radius: 5px;background: white;">
	<h2>Загрузите Cookie!</h2>
	<p style="font-size: 1.4rem;">
		Для полноценной работы модуля нужны Cookie файл с сайта Яндекс. Это нужно для более стабильной работы модуля.
		Раньше файл формировался автоматически, но модуль работал с ошибками.
		Срок действия Cookie - 17 лет, главное не выходить из аккаунта Яндекс.<br>
		Процедура совпадает с получение Cookie в модуле google location. Нужно установить расширение для браузера (<a href="https://mjdm.ru/forum/viewtopic.php?f=5&t=6309&p=123865&hilit=cookies.txt#p123865" target="_blank">Например это</a>) или
		любое другое аналогичное.
		<br>Далее, со страницы <a href="https://yandex.ru/quasar/iot/" target="_blank">Yandex IOT</a> скачать Cookie и загрузить в модуль.
	</p>
	<center>
		[#if UPLOAD_ERROR !=''#]
			<div class="alert alert-danger" style="font-size: 1.5rem;padding: 10px;">
				[#UPLOAD_ERROR#]
			</div>
		[#endif#]
		<style>
			.input__wrapper {
			  width: 100%;
			  position: relative;
			  margin: 15px 0;
			  text-align: center;
			}
			 
			.input__file {
			  opacity: 0;
			  visibility: hidden;
			  position: absolute;
			}
			 
			.input__file-icon-wrapper {
			  border-radius: 50px;
			  height: 60px;
			  width: 60px;
			  margin-right: 15px;
			  display: -webkit-box;
			  display: -ms-flexbox;
			  margin-left: 5px;
			  -webkit-box-align: center;
				  -ms-flex-align: center;
					  align-items: center;
			  -webkit-box-pack: center;
				  -ms-flex-pack: center;
					  justify-content: center;
			  border-right: 1px solid #fff;
			}
			 
			.input__file-button-text {
			  line-height: 1;
			  margin-top: 1px;
			}
			 
			.input__file-button {
			  width: 100%;
			  max-width: 290px;
			  height: 40px;
			  background: radial-gradient(circle farthest-corner at 10px 10px, #582fff, #7309e7);
			  color: #fff;
			  font-size: 1.5rem;
			  font-weight: 700;
			  display: -webkit-box;
			  display: -ms-flexbox;
			  display: flex;
			  -webkit-box-align: center;
				  -ms-flex-align: center;
					  align-items: center;
			  -webkit-box-pack: start;
				  -ms-flex-pack: start;
					  justify-content: flex-start;
			  border-radius: 3px;
			  cursor: pointer;
			  margin: 0 auto;
			}
		</style>
		<form action="<#ROOTHTML#>admin.php?pd=c2F2ZXJlc3RvcmU6e2luc3RhbmNlPWFkbX0%3Dpz_cGFuZWw6e2FjdGlvbj1zYXZlcmVzdG9yZX0%3Dpz_&amp;md=saverestore&amp;inst=adm&amp;" method="post" enctype="multipart/form-data">
			<div class="input__wrapper">
			   <input name="file" type="file" id="input__file" class="input input__file">
			   <label for="input__file" class="input__file-button" onclick="$('.alert-danger').hide();">
				  <span class="input__file-icon-wrapper"><i style="font-size: 19pt;vertical-align: text-bottom;" class="glyphicon glyphicon-download-alt"></i></span>
				  <span class="input__file-button-text">Выберите файл</span>
			   </label>
			</div>
			
			<div class="text-center" style="margin-top: 15px">
				<input type="submit" id="Cookie_upload" style="display:none;" name="submit" value="Загрузить" class="btn btn-success">
			</div>
			<input type="hidden" name="view_mode" value="upload_Cookie">
		</form>
		<script>
			let inputs = document.querySelectorAll('.input__file');
			Array.prototype.forEach.call(inputs, function (input) {
				let label = input.nextElementSibling,
				labelVal = label.querySelector('.input__file-button-text').innerText;

				input.addEventListener('change', function (e) {
					let countFiles = '';
					if (this.files && this.files.length >= 1)
						countFiles = this.files.length;
					if (countFiles) {
						label.querySelector('.input__file-button-text').innerText = '<#LANG_NEWSAVERESTORE_CHOUSES_FILES#> ' + countFiles;
						$('#Cookie_upload').show();
					} else {
						label.querySelector('.input__file-button-text').innerText = labelVal;
					}
				});
			});
		</script>

	</center>
</div>
