<div class="row" style="margin-right: -15px;margin-left: -15px;">
	<div class="col-md-4 text-center" onclick="location.href='?md=yadevices&inst=&action=yadevices&view_mode='" style="cursor:pointer;opacity: 0.3;padding-bottom: 5px;">
		<div style="border: 1px solid #6121ff;padding: 10px;border-radius: 5px;">
			<img style="background: white;border-radius: 50px;padding: 5px;margin-right: 5px;" src="/templates/yadevices/img/station.svg">
			Управление станциями
		</div>
	</div>
	<div class="col-md-4 text-center" onclick="location.href='?md=yadevices&inst=&action=yadevices&view_mode=search_scenarios'" style="cursor:pointer;padding-bottom: 5px;">
		<div style="background: radial-gradient(circle farthest-corner at 10px 10px, #ae21ff, #6121ff);color: white;padding: 10px;border-radius: 5px;">
			<img style="background: white;border-radius: 50px;padding: 5px;margin-right: 5px;" src="/templates/yadevices/img/scenario.svg">
			Управление сценариями
		</div>
	</div>
	<div class="col-md-4 text-center" onclick="location.href='?md=yadevices&inst=&action=yadevices&view_mode=search_yadevices'" style="cursor:pointer;opacity: 0.3;padding-bottom: 5px;">
		<div style="border: 1px solid #6121ff;padding: 10px;border-radius: 5px;">
			<img style="background: white;border-radius: 50px;padding: 5px;margin-right: 5px;" src="/templates/yadevices/img/device.svg">
			Управление устройствами
		</div>
	</div>
</div>


<br><Br>

<div class="row" style="margin-right: -15px;margin-left: -15px;">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Название</th>
						<th style="width: 30%;">ID</th>
						<th>Статус</th>
						<th>Участвуют</th>
						<th style="width: 15%;">Опции</th>
					</tr>
				</thead>
				[#begin RESULT#]
				[#if CLOUDSCENARIO == 1#]
				<tr>
					<td colspan="5" class="warning text-center">
						<i class="glyphicon glyphicon-arrow-down" style="vertical-align: text-top;"></i>Системный сценарий. Необходим для работы облачного TTS.
					</td>
				</tr>
				[#endif CLOUDSCENARIO#]
				<tr>
					<td style="vertical-align: middle;"><img src="[#ICON_URL#]" style="width: 15px;vertical-align: text-top;border-radius: 50px"> [#NAME#]</td>
					<td style="vertical-align: middle;">[#ID#]</td>
					<td style="vertical-align: middle;">[#IS_ACTIVE#]</td>
					<td style="vertical-align: middle;">[#ALLOWDEVICES#]</td>
					<td style="vertical-align: middle;" class="text-center">
						<!--- <a href="?mode=runScenario&view_mode=search_scenarios&id=[#ID#]" onclick="return confirm('Вы уверены?')" class="btn btn-warning btn-xs">Выполнить</a> --->
						<a href="?mode=delScenario&view_mode=search_scenarios&id=[#ID#]" onclick="return confirm('Вы уверены?')" class="btn btn-danger btn-xs">Удалить</a>
					</td>
				</tr>
				[#end RESULT#]
			</table>
		</div>
	</div>
</div>
<!---
<div class="panel panel-default" style="margin-top: 10px;">
	<div class="panel-heading" style="background: radial-gradient(circle farthest-corner at 10px 10px, #ae21ff, #6121ff);color: white;border: 0px;">Примеры команд API</div>
	<div class="panel-body">
		Запуск сценария Яндекс из MajorDoMo
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices', 'GET', array('runscenario' => %ID_СЦЕНАРИЯ%));</pre>
	</div>
</div>
--->