<div class="row" style="border: 1px solid #6c13ee;margin-top:10px; border-radius: 5px;">
	<div class="col-md-12">
		<h2><img src="[#ICON_URL#]" width="120"> [#TITLE#]</h2>
		
		<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
		[#if OK#]
			<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
		[#endif OK#]
		[#if ERR#]
			<div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
		[#endif ERR#]
		
		
		<div class="form-group">
			<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">MDM ID / Type</label>
			<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
				<input id="station_id" name="station_id" value="[#ID#]" readonly type="text" class="form-control" onclick="$(this).select();">
			</div>
			<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
				<input id="station_id" name="station_id" value="[#PLATFORM#]" readonly type="text" class="form-control" onclick="$(this).select();">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">Station ID</label>
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<input id="station_id" name="station_id" value="[#STATION_ID#]" readonly type="text" class="form-control" onclick="$(this).select();">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">IoT ID</label>
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<input id="station_id" name="station_id" value="[#IOT_ID#]" readonly type="text" class="form-control" onclick="$(this).select();">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">Токен</label>
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				[#if DEVICE_TOKEN!=""#]
					<input id="station_id" name="station_id" value="[#DEVICE_TOKEN#]" readonly type="text" class="form-control" onclick="$(this).select();">
				[#else#]
				<p>
					Необходимо сформировать токен доступа для локального управления колонкой!<br>
					<a href="?view_mode=generate_dev_token&id=[#ID#]" class="btn btn-primary ">Сформировать токен</a>		
				</p>
				[#endif#]
			</div>
		</div>
		[#if PLATFORM == 'yandexmini' OR PLATFORM == 'yandexmicro' OR PLATFORM == 'yandexstation' OR PLATFORM == 'yandexstation_2' OR PLATFORM == 'yandexmini_2' OR PLATFORM == 'jbl_link_portable' OR PLATFORM == 'yandexmidi' OR PLATFORM == 'cucumber' OR PLATFORM == 'plum' OR PLATFORM == 'bergamot' OR PLATFORM == 'chiron'#]
		<div class="form-group [#if ERR_IP#]has-error[#endif#]">
			<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">IP</label>
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<input id="ip" name="ip" value="[#IP#]" placeholder="Требуется для локального управления" type="text" class="form-control">
			</div>
		</div>
		[#endif#]
		<div class="form-group">
			<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">Озвучивание событий:</label>
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<label class="radio-inline">
					<input type="radio" name="tts" value="0"[#if TTS="0"#] checked[#endif#] onclick="$('#cloudTTSHelpHint').hide();"> <#LANG_NO#>
				</label>
				[#if PLATFORM == 'yandexmini' OR PLATFORM == 'yandexmicro' OR PLATFORM == 'yandexstation' OR PLATFORM == 'yandexstation_2' OR PLATFORM == 'yandexmini_2' OR PLATFORM == 'jbl_link_portable' OR PLATFORM == 'yandexmidi' OR PLATFORM == 'cucumber' OR PLATFORM == 'plum' OR PLATFORM == 'bergamot' OR PLATFORM == 'chiron'#]
					[#if DEVICE_TOKEN!="" AND IP != ""#]
					<label class="radio-inline">
						<input type="radio" name="tts" value="1"[#if TTS="1"#] checked[#endif#] onclick="$('#cloudTTSHelpHint').hide();"> <#LANG_YES#> (локально)
					</label>
					[#else#]
					<label class="radio-inline" style="color: gray;" onclick="alert('Недоступно, т.к. не указан IP и не получен токен для устройства.')">
						<input type="radio" disabled> <#LANG_YES#> (локально)
					</label>
					[#endif#]
				[#endif#]
				
				[#if TTS_SCENARIO!=""#]
				<label class="radio-inline">
					<input type="radio" name="tts" value="2"[#if TTS="2"#] checked[#endif#] onclick="$('#cloudTTSHelpHint').show();"> <#LANG_YES#> (облако Yandex)
				</label>
				[#else#]
				<label class="radio-inline" style="color: gray;" onclick="alert('Недоступно, т.к. произошла ошибка генерации сценария для облачного управления! Перейдите в &quot;Управеление станциями&quot; и нажмите кнопку &quot;Обновить&quot;')">
					<input type="radio" disabled> <#LANG_YES#> (облако Yandex)
				</label>
				[#endif#]
				<div id="cloudTTSHelpHint" style="[#if TTS!="2"#]display:none;[#endif#]">
					<p class="help-block" style="font-size: 1rem;margin-top: 5px;color:red;">
						Если колонка не разговаривает через облако - попробуйте удалить системный сценарий облачного управления на <a href="?view_mode=search_scenarios">этой странице</a>, а после удаления - пересоздать сценарий, нажав <a href="?view_mode=refreshScenarios">сюда</a>.
					</p>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">Мин. уровень важности:</label>
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<input id="min_level_text" placeholder="Например: %ThisComputer.minMsgLevel%" name="min_level_text" value="[#MIN_LEVEL_TEXT#]" type="text" class="form-control">
				<label class="checkbox-inline">
					<input type="checkbox" id="" onclick="if($(this).prop('checked')) { $('#min_level_text').val('%ThisComputer.minMsgLevel%') } else { $('#min_level_text').val('') }"> Использовать системный МУВС
				</label>
			</div>
		</div>

	<div class="form-group">
		<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">Использовать для вопросов (ASK):</label>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<input type="radio" name="allow_ask" value="1"[#if ALLOW_ASK="1"#] checked[#endif#]> <#LANG_YES#>
				<input type="radio" name="allow_ask" value="0"[#if ALLOW_ASK!="1"#] checked[#endif#]> <#LANG_NO#>
		</div>
	</div>

		[#if PLATFORM == 'yandexmini' OR PLATFORM == 'yandexmicro' OR PLATFORM == 'yandexstation' OR PLATFORM == 'yandexstation_2' OR PLATFORM == 'yandexmini_2' OR PLATFORM == 'jbl_link_portable' OR PLATFORM == 'yandexmidi' OR PLATFORM == 'cucumber' OR PLATFORM == 'plum' OR PLATFORM == 'bergamot' OR PLATFORM == 'chiron'#]
		
		<div class="form-group">
			<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">Плеер для сцены:</label>
			<div class="col-md-5">
				[#if DEVICE_TOKEN=="" OR IP == ""#]
					<div style="width: 100%;height: 100%;position: absolute;z-index: 1;background: #ffffffcc;display: flex;align-items: center;justify-content: center;font-size: 1.5rem;padding-right: 30px;text-align: center;font-weight: 600;">Чтобы задействовать плеер - укажите данные IP и сформируйте токен!</div>
				[#endif#]
				<div [#if DEVICE_TOKEN=="" OR IP == ""#]style="opacity: 0.2;"[#endif#]>[#module name="yadevices" station="" bgcolor="46,3,66" zoom="0.9" textcolor="white"#]</div>
			</div>
			<div class="col-md-5" [#if DEVICE_TOKEN=="" OR IP == ""#]style="opacity: 0.2;"[#endif#]>
				Модуль позволяет организовать простое управление мультимедиа со сцены. Дизайн уже не так себе =)<br>
				<code style="white-space: normal;">[&#35;module name="yadevices" station="[#ID#]" bgcolor="255,0,0" textcolor="red" zoom="0.7"&#35;]</code>
				<div style="border-top: 1px solid lightgray;margin-top: 5px;font-size: 1rem;">
					<b>station</b> - ID станции, которую нужно "слушать"<br>
					<b>bgcolor</b> - RGB цвет для фона<br>
					<b>textcolor</b> - HEX цвет для текста<br>
					<b>zoom</b> - размер плеера
				</div>
			</div>
		</div>
		[#endif#]
		
		<div class="form-group text-center">
			<button type="submit" name="subm" value="Submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-saved"></i> <#LANG_SUBMIT#></button>
			<a href="?" class="btn btn-warning "><i class="glyphicon glyphicon-share-alt"></i> <#LANG_CANCEL#></a>
			<a href="?view_mode=delete_yastations&id=[#ID#]" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-danger" title="Delete"><i class="glyphicon glyphicon-remove"></i> Удалить</a>
			<input type="hidden" name="id" value="<#ID#>">
			<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
			<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
			<input type="hidden" name="mode" value="update">
		</div>
		</form>
	</div>
</div>


<div class="panel panel-default" style="margin-top: 10px;">
	<div class="panel-heading" style="background: radial-gradient(circle farthest-corner at 10px 10px, #ae21ff, #6121ff);color: white;border: 0px;">Тестирование и отладка</div>
	<div class="panel-body" style="background: url([#ICON_URL#]);background-size: 350px Auto;background-repeat: no-repeat;background-position: right top;">
		<form action="?id=<#ID#>" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
			<div class="form-group">
				<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">Команда:</label>
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<input id="text_cmd_test" style="background: transparent;" name="text" value="[#TEXT#]" placeholder="Введите команду..." type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">Пресеты:</label>
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<code style="white-space: normal;margin: 0px 5px;" onclick="$('#text_cmd_test').val($(this).text().trim());">
						Тестовое сообщение
					</code>
					<code style="white-space: normal;margin: 0px 5px;" onclick="$('#text_cmd_test').val($(this).text().trim());">
						громкость 6
					</code>
					<code style="white-space: normal;margin: 0px 5px;" onclick="$('#text_cmd_test').val($(this).text().trim());">
						включи мою музыку
					</code>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">Способ отправки:</label>
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					[#if PLATFORM == 'yandexmini' OR PLATFORM == 'yandexmicro' OR PLATFORM == 'yandexstation' OR PLATFORM == 'yandexstation_2' OR PLATFORM == 'yandexmini_2' OR PLATFORM == 'jbl_link_portable' OR PLATFORM == 'yandexmidi' OR PLATFORM == 'cucumber' OR PLATFORM == 'plum' OR PLATFORM == 'bergamot' OR PLATFORM == 'chiron'#]
						[#if DEVICE_TOKEN!="" AND IP != ""#]
						<label class="radio-inline">
							<input type="radio" onchange="if($(this).prop('checked')) {$('#sendAsOnlyLocal').show();$('#cloudTTSHelpHintdemo').hide();$('#localDialog').show();}" name="cloud" value="0" [#if TTS=="0" || TTS=="1"#] checked[#endif#]> Локально
						</label>
						[#else#]
						<label class="radio-inline" style="color: gray;" onclick="alert('Недоступно, т.к. не указан IP и не получен токен для устройства.')">
							<input type="radio" disabled> Локально
						</label>
						[#endif#]
					[#endif#]
					
					[#if TTS_SCENARIO!=""#]
					<label class="radio-inline">
						<input onchange="if($(this).prop('checked')) {$('#sendAsOnlyLocal').hide();$('#cloudTTSHelpHintdemo').show();$('#localDialog').hide();}" type="radio" name="cloud" value="1" [#if TTS=="2"#] checked[#endif#]> Облако
					</label>
					[#else#]
					<label class="radio-inline" style="color: gray;" onclick="alert('Недоступно, т.к. произошла ошибка генерации сценария для облачного управления!')">
						<input type="radio" disabled> Облако
					</label>
					[#endif#]
					<div id="cloudTTSHelpHintdemo" style="[#if TTS!="2"#]display:none;[#endif#]">
					<p class="help-block" style="font-size: 1rem;margin-top: 5px;"> Ограничение - 100 символов<br></p>
						<p class="help-block" style="font-size: 1rem;margin-top: 5px;color:red;">
							Если колонка не разговаривает через облако - попробуйте удалить системный сценарий облачного управления на <a href="?view_mode=search_scenarios">этой странице</a>, а после удаления - пересоздать сценарий, нажав <a href="?view_mode=refreshScenarios">сюда</a>.
						</p>
					</div>
				</div>
			</div>
			<div class="form-group" id="sendAsOnlyCloud" style="">
				<label for="" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;padding: 5px 10px 0px 15px;">Отправить как:</label>
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">			
					<label class="radio-inline">
						<input type="radio" name="sendas" value="0" [#if SENDAS="0" || SENDAS == ''#] checked[#endif#]> Текст
					</label>
					
					<label class="radio-inline">
						<input type="radio" name="sendas" value="1" [#if SENDAS="1"#] checked[#endif#]> Команда
					</label>
					
					<label class="radio-inline" id="sendAsOnlyLocal">
						<input type="radio" name="sendas" value="2" [#if SENDAS="2"#] checked[#endif#]> Диалог
					</label>
					
					<p class="help-block" style="font-size: 1rem;margin-top: 5px;">
						<b>Текст</b>: фраза будет прочитана и Алиса не будет продолжать слушать<br>
						<b>Команда</b>: переданный текст будет восприниматься как голос, соответственно Алиса будет продолжать диалог<br>
						<span id="localDialog"><b>Диалог</b>: переданный текст будет прочитан, и Алиса будет ждать ответ и продолжит разговор в том же контексте<br></span>
						Всё это можно привязать к соответствующим свойствам в карточке <b>[#TITLE#]</b> в <a href="?view_mode=search_yadevices">Управлении устройствами</a><br>
					</p>
				</div>
			</div>
			<div class="form-group text-center">
				<button type="submit" name="subm" value="Submit" class="btn btn-success"><i class="glyphicon glyphicon-open"></i> <#LANG_SEND#></button>
				<input type="hidden" name="id" value="<#ID#>">
				<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
				<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
				<input type="hidden" name="mode" value="send_text">
			</div>
		</form>
	</div>
</div>

<div class="panel panel-default" style="margin-top: 10px;">
	<div class="panel-heading" style="background: radial-gradient(circle farthest-corner at 10px 10px, #ae21ff, #6121ff);color: white;border: 0px;">Примеры команд API</div>
	<div class="panel-body">
		Простое сообщение:
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#], 'command'=>'text', 'data'=>'раз-два-три'));</pre>
		
		Возможно добавление <a href="https://yandex.ru/dev/dialogs/alice/doc/ru/speech-effects">эффектов</a>, <a href="https://yandex.ru/dev/dialogs/alice/doc/ru/sounds">звуков</a>, и проговаривание различными <a href="https://yandex.ru/dev/dialogs/alice/doc/ru/voices#actual">голосами</a>:
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#], 'command'=>'text', 'data'=>'&lt;speaker effect="megaphone"&gt;Ехал Грека через реку&lt;speaker effect="-"&gt; видит Грека в реке рак'));</pre>
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#], 'command'=>'text', 'data'=>'&lt;speaker audio="alice-sounds-game-win-1.opus"&gt; У вас получилось!'));</pre>
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#], 'command'=>'text', 'data'=>'&lt;speaker voice="zahar"&gt;Всем привет. Меня зовут Захар...'));</pre>
		
		Можно говорить шёпотом:
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#], 'command'=>'text', 'data'=>'&lt;speaker is_whisper="true"&gt;Ты чего шумишь? Спят все!'));</pre>
		
		Можно проговорить сообщение с определённым уровнем громкости, после сообщения громкость вернётся на текущий уровень:
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#], 'command'=>'text', 'data'=>'Это сообщение я говорю с уровнем громкости семь', 'volume'=>7));</pre>
		
		Или так (иожно использовать при отправке из привязанных свойств):
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#], 'command'=>'text', 'data'=>'Это сообщение я говорю с уровнем громкости восемь^8'));</pre>

		Выполнение команды:
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#], 'command'=>'command', 'data'=>'Включи чайник'));</pre>
		
		Сообщение и продолжение диалога (В облачном режиме равносильно выполнению команды):
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#], 'command'=>'dialog', 'data'=>'А вы знали, что зебры чёрные в белую полоску?'));</pre>
		 
		Изменение громкости от 0.1 до 10.0:
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#],'command'=>'setVolume','data'=>6));</pre>
		
		Управление громкостью (прибавить/убавить: volumeUp/volumeDown):
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#],'command'=>'volumeUp'));</pre>
		
		Управление воспроизведением (play, stop, prev, next):
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#],'command'=>'play'));</pre>
		
		Можно отправлять ссылки на песни и альбомы в Яндекс.Музыке, а также ссылки на аудиопотоки, mp3 и ogg файлы:
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#],'command'=>'audio', 'data'=>'https://music.yandex.ru/album/46628/track/450105'));</pre>
		
		На Станции с HDMI и экраном можно отправлять ссылки на Youtube:
		<pre style="color: #c7254e;background-color: #f9f2f4;border: 0px;">callAPI('/api/module/yadevices','GET',array('station'=>[#ID#],'command'=>'video', 'data'=>'https://youtu.be/00QoDkBsVjs'));</pre>
	</div>
</div>
