<h1>[#TITLE#]</h1>
<!-- Table 'yastations' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- TITLE (varchar) -->
[#if STATION_ID!=""#]
<div class="form-group[#if ERR_TITLE#] has-error[#endif#]">
 <label for="station_id" class="col-md-6 control-label">
 Station ID:
 </label>
 <div class="col-md-6">
  <input id="station_id" name="station_id" value="[#STATION_ID#]" disabled type="text" class="form-control"></div>
</div>
 [#endif STATION_ID#]

 [#if IOT_ID!=""#]
 <div class="form-group[#if ERR_TITLE#] has-error[#endif#]">
  <label for="iot_id" class="col-md-6 control-label">
   IoT ID:
  </label>
  <div class="col-md-6">
   <input id="iot_id" name="iot_id" value="[#IOT_ID#]" disabled type="text" class="form-control"></div>
 </div>
 [#endif IOT_ID#]

 [#if DEVICE_TOKEN!=""#]
 <div class="form-group">
  <label for="device_token" class="col-md-6 control-label">
   Device token:
  </label>
  <div class="col-md-6">
   <input id="device_token" name="device_token" value="[#DEVICE_TOKEN#]" disabled type="text" class="form-control">
  </div>
 </div>
 [#endif#]

 <div class="form-group[#if ERR_IP#] has-error[#endif#]">
  <label for="ip" class="col-md-6 control-label">
   IP:
  </label>
  <div class="col-md-6">
   <input id="ip" name="ip" value="[#IP#]" type="text" class="form-control"></div>
 </div>


 <div class="form-group">
  <label for="tts" class="col-md-6 control-label">
   <#LANG_CAN_TTS#>:
  </label>
  <div class="col-md-6">
   <input type="radio" name="tts" value="0"[#if TTS="0"#] checked[#endif#]> <#LANG_NO#>
   <input type="radio" name="tts" value="1"[#if TTS="1"#] checked[#endif#]> <#LANG_YES#> (локально)
   <input type="radio" name="tts" value="2"[#if TTS="2"#] checked[#endif#]> <#LANG_YES#> (облако Yandex)
   </div>
 </div>

  <div class="form-group[#if ERR_MIN_LEVEL_TEXT#] has-error[#endif#]">
   <label for="min_level_text" class="col-md-6 control-label">
    <#LANG_MIN_MSG_LEVEL#>:
   </label>
   <div class="col-md-6">
    <input id="min_level_text" name="min_level_text" value="[#MIN_LEVEL_TEXT#]" type="text" class="form-control">
    <span class="help-block"><#LANG_EXAMPLE#>: <i>%ThisComputer.minMsgLevel%</i></span>
   </div>
  </div>

 <div class="form-group">
  <label for="tts_effect" class="col-md-6 control-label">
   Эффект для речи:
  </label>
  <div class="col-md-6">
   <select name="tts_effect" id="tts_effect" class="form-control">
    <option value=""><#LANG_NO#></option>
    <option value="behind_the_wall"[#if TTS_EFFECT="behind_the_wall"#] selected[#endif#]>голос из-за стены</option>
    <option value="hamster"[#if TTS_EFFECT="hamster"#] selected[#endif#]>голос хомяка</option>
    <option value="megaphone"[#if TTS_EFFECT="megaphone"#] selected[#endif#]>голос через мегафон</option>
    <option value="pitch_down"[#if TTS_EFFECT="pitch_down"#] selected[#endif#]>низкий голос</option>
    <option value="psychodelic"[#if TTS_EFFECT="psychodelic"#] selected[#endif#]>психоделический голос</option>
    <option value="pulse"[#if TTS_EFFECT="pulse"#] selected[#endif#]>голос с прерываниями</option>
    <option value="train_announce"[#if TTS_EFFECT="train_announce"#] selected[#endif#]>громкоговоритель на вокзале</option>
   </select>
  </div>
 </div>

 <div class="form-group">
  <label for="tts_announce" class="col-md-6 control-label">
   Анонс для речи:
  </label>
  <div class="col-md-6">
   <input type="text" name="tts_announce" value="[#TTS_ANNOUNCE#]" class="form-control">
   <div class="help-text">
    Например: alice-sounds-game-win-1 или alice-sounds-game-8-bit-coin-1<br/>
    Все доступные значения можно посмотреть на <a href="https://yandex.ru/dev/dialogs/alice/doc/sounds-docpage/" target="_blank">данной странице</a>
   </div>
  </div>
 </div>


<div class="form-group">
        <div class="col-md-offset-2">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
        </div>
</div>
</fieldset>
</form>

[#if ID!=""#]
<hr>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-inline">
 <fieldset>
  <div class="form-group">
   <label for="text" class="col-md-6 control-label">
    Command:
   </label>
   <div class="col-md-6">
    <input id="text" name="text" value="[#TEXT#]" placeholder="command" type="text" class="form-control"></div>
  </div>
  <div class="form-group">
   <input type="radio" name="cloud" value="0" [#if CLOUD!="1"#] checked[#endif#]> Локально
   <input type="radio" name="cloud" value="1" [#if CLOUD="1"#] checked[#endif#]> Облако
  </div>
  <div class="form-group">
   <div class="col-lg-offset-3 col-lg-4">
    <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SEND#></button>
    <input type="hidden" name="id" value="<#ID#>">
    <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
    <input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
    <input type="hidden" name="mode" value="send_text">
   </div>
  </div>
 </fieldset>
</form>
<hr/>
Code sample:
<pre>
 callAPI('/api/module/yadevices','GET',array('station'=>[#ID#],'command'=>'повтори за мной раз-два-три'));
</pre>

Проговаривание фразы
<pre>
 callAPI('/api/module/yadevices','GET',array('station'=>[#ID#],'say'=>'раз-два-три'));
</pre>

Добавление эффекта и анонса
<pre>
 callAPI('/api/module/yadevices','GET',array('station'=>[#ID#],'say'=>'раз-два-три','effect'=>'megaphone','announce'=>'alice-sounds-game-win-1'));
</pre>

 
Изменение громкости от 0.1 до 1.0:
<pre>
 callAPI('/api/module/yadevices','GET',array('station'=>[#ID#],'command'=>'setVolume','volume'=>0.5));
</pre>
[#endif ID#]
