
<div class="row" style="margin-right: -15px;margin-left: -15px;">
	[#if RESULT#]
		[#begin RESULT#]
		<div class="col-md-6" style="padding-bottom: 15px;">
			<div class="media" style="cursor: pointer;border: 1px solid #6c13ee;padding: 10px;border-radius: 5px;[#if IS_ONLINE!="1"#]opacity: 0.3;[#endif#]" onclick="location.href='?md=yadevices&inst=&action=yadevices&view_mode=edit_yastations&id=[#ID#]'">
			[#if PLAYING="1"#]<div  style="background: url(https://[#COVER#]120x120);background-repeat: no-repeat;background-position: right top;">[#endif PLAYING#]
				<a class="pull-left" href="#">

                                        <img class="media-object" src="[#ICON_URL#]" width="130">


				</a>
				<div class="media-body">
					<h4 class="media-heading">
						<i class="glyphicon glyphicon-off" style="color: [#if IS_ONLINE="1"#]green"[#else IS_ONLINE#]red"[#endif#]></i>
						<b>[#TITLE#] ([#PLATFORM#])</b>
					</h4>
					
					<div style="font-size: 1.2rem;">
						<b>ID:</b> [#STATION_ID#]<br>
						<b>IOT ID:</b> [#IOT_ID#]<br>
						<b>Громкость:</b> [#VOLUME#]<br>
						<b>Озвучивание событий:</b> [#if TTS="0"#]Нет[#endif TTS#]
							[#if TTS="2"#]Облако [#if MIN_LEVEL_TEXT!=''#](&gt;= [#MIN_LEVEL_TEXT#])[#endif#][#endif TTS#]
							[#if TTS="1"#]Локально [#if MIN_LEVEL_TEXT!=''#](&gt;= [#MIN_LEVEL_TEXT#])[#endif#][#endif TTS#]
							<br>
						[#if PLAYING="1"#]
						<b>Исполнитель:</b> [#ARTIST#]<br>
						<b>Название трека:</b> [#TRACK#]<br>
						</div>
						[#else PLAYING#]
						<br>
						<b>НЕ ИСПОЛНЯЕТСЯ</b>
						[#endif PLAYING#]
					</div>
				</div>
			</div>
		</div>
		[#end RESULT#]
	[#else#]
	<div class="col-md-12" style="padding: 15px;">
		<div class="alert alert-warning text-center">
			<h2>Авторизация</h2>
			<p>Для начала работы с модулем необходимо пройти авторизацию.</p>
			<br><br>
			[#if VIEW_MODE="search_yastations" || VIEW_MODE=""#]			<a href="?view_mode=auth" class="btn btn-success btn-sm" style="margin-right: 5px;border-right: 1px solid white;padding-right: 5px;color: white;text-decoration: none;"><i class="glyphicon glyphicon-refresh"></i> Авторизация</a>

			[#endif#]
		</div>
	</div>
	[#endif#]
</div>


